In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
my_data = pd.read_csv('Data.csv')

In [3]:
my_data

     Sex  Age_category  Highest_education_level
0      2             2                        2
1      1             2                        3
2      2             1                        2
3      2             2                        3
4      1             2                        2
..   ...           ...                      ...
195    2             1                        1
196    1             2                        2
197    2             1                        3
198    1             1                        0
199    2             2                        3

[200 rows x 3 columns]

In [12]:
my_data['Highest_education_level'].unique()

array([2, 3, 1, 0], dtype=int64)

In [5]:
my_data_corr = my_data.corr()
my_data_corr

                              Sex  Age_category  Highest_education_level
Sex                      1.000000     -0.015917                -0.069140
Age_category            -0.015917      1.000000                 0.239223
Highest_education_level -0.069140      0.239223                 1.000000

In [6]:
from sklearn.linear_model import LinearRegression

In [8]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

model_accuracy = []

for i in range(3):
    featured_data = [x for x in my_data.columns if x != my_data.columns[i]]
    target_data = my_data.columns[i]
    X = my_data[featured_data].values
    y = my_data[target_data].values  # Correct assignment of the target variable
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    model_accuracy.append(model.score(X_test, y_test))

model_accuracy

[0.0009731393029175361, 0.06105471905240423, 0.030194634679886034]

In [9]:
from sklearn.neighbors import KernelDensity 

kde = KernelDensity(bandwidth=0.1, kernel='gaussian')  # Adjust bandwidth and kernel as needed

# Fit the KDE model to your data
kde.fit(X)

# Sample from the KDE model
# You can generate synthetic data by sampling from the KDE model
synthetic_data = kde.sample(n_samples=50000, random_state=42)

synthetic_data

array([[0.99809366, 1.12072883],
       [2.06252924, 0.9195311 ],
       [1.17871134, 1.84641735],
       ...,
       [0.91940236, 0.93610753],
       [1.07405388, 1.96773031],
       [1.96529718, 2.16863405]])

In [10]:
import numpy as np
import pandas as pd
from scipy.stats import gaussian_kde
from copulas.multivariate import GaussianMultivariate

# Step 1: Estimate marginal distributions
marginal_distributions = {}
for column in my_data.columns:
    kde = gaussian_kde(my_data[column])
    marginal_distributions[column] = kde

# Step 2: Fit a copula model
copula = GaussianMultivariate()
copula.fit(my_data)

# Step 3: Generate synthetic copula data
num_samples = 50000
synthetic_copula_data = copula.sample(num_samples)

# Step 4: Transform synthetic copula data
synthetic_data = {}
for column in my_data.columns:
    inverse_cdf = marginal_distributions[column].inverse
    synthetic_data[column] = inverse_cdf(synthetic_copula_data[column])

# Convert synthetic data to DataFrame
synthetic_df = pd.DataFrame(synthetic_data)
synthetic_data

ModuleNotFoundError: No module named 'copulas'